/* start varible */
:root {
  --main-background-color: hsla(214, 59%, 19%, 1);
  --second-background-color: #f3b525;
  --second-background-color2: #ececec;
  --main-transition-duration: 0.3s;
  --main-color: #fafafa;
  --main-padding-top: 60px;
  --main-padding-bottom: 60px;
  --main-padding-info: 20px;
  --main-border-frame-size: 4.5px;
  --main-border-size: 1.5px;
  --main-border-style: solid;
  --main-border-color: #d9d9d9b4;
  --main-border-radius-card: 10%;
  --main-margin-bottom-card-media: 30px;
  --font-color-text-1: #a3a1a1;
  --font-color-text-2: #595757;
  --font-color-text-3: #1f1c1c;
}
html {
  scroll-behavior: smooth;
}
/* end varible */
/* start background image  */
.background-image-2x {
  background-color: #ff99dd;
  background-image: radial-gradient(
      at 13% 90%,
      hsla(254, 95%, 67%, 1) 0px,
      transparent 50%
    ),
    radial-gradient(at 77% 86%, hsla(244, 77%, 68%, 1) 0px, transparent 50%),
    radial-gradient(at 46% 33%, hsla(344, 66%, 67%, 1) 0px, transparent 50%);
}
.background-image-1x {
  background-image: radial-gradient(
      at 40% 20%,
      hsla(306, 100%, 74%, 1) 0px,
      transparent 50%
    ),
    radial-gradient(at 0% 50%, hsla(273, 100%, 93%, 1) 0px, transparent 50%),
    radial-gradient(at 80% 50%, hsla(258, 100%, 76%, 1) 0px, transparent 50%),
    radial-gradient(at 0% 100%, hsla(300, 100%, 77%, 1) 0px, transparent 50%),
    radial-gradient(at 80% 100%, hsla(160, 100%, 70%, 1) 0px, transparent 50%),
    radial-gradient(at 0% 0%, hsla(261, 100%, 76%, 1) 0px, transparent 50%);
}
/* start global rules */
* {
  box-sizing: border-box;
  list-style: none;
}
body {
  font-family: "Work Sans", sans-serif;
  overflow-x: hidden;
}
.special_heading {
  margin-left: auto;
  margin-right: auto;
  width: 65%;
  text-align: center;
}
.special_heading > h2 {
  width: 20%;
  margin: 0 auto;
  text-transform: capitalize;
  font-size: 35px;
  color: var(--main-color);
  background-color: var(--second-background-color);
  position: relative;
  transition: all var(--main-transition-duration);
  -webkit-transition: all var(--main-transition-duration);
  -moz-transition: all var(--main-transition-duration);
  -ms-transition: all var(--main-transition-duration);
  -o-transition: all var(--main-transition-duration);
  z-index: 1;
  padding: 5px;
}
@media (max-width: 1199px) {
  .special_heading > h2 {
    width: 50%;
    font-size: 25px;
  }
}
.special_heading > h2:hover {
  color: var(--main-background-color);
  width: 50%;
  font-size: 39px;
}
@media (max-width: 1199px) {
  .special_heading > h2:hover {
    width: 50%;
    font-size: 35px;
  }
}
@media (max-width: 450px) {
  .special_heading > h2:hover {
    width: 50%;
    font-size: 25px;
  }
}
.special_heading > h2::after {
  content: "";
  position: absolute;
  top: 50%;
  left: -30%;
  width: 15px;
  height: 15px;
  transform: translateY(-50%);
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  background-color: var(--main-color);
  transition: all var(--main-transition-duration);
  -webkit-transition: all var(--main-transition-duration);
  -moz-transition: all var(--main-transition-duration);
  -ms-transition: all var(--main-transition-duration);
  -o-transition: all var(--main-transition-duration);
  z-index: -1;
}
.special_heading > h2:hover::after {
  color: var(--main-color);
  width: 50%;
  height: 100%;
  top: 0;
  left: 0;
  transform: translateY(0%);
  border-radius: 0;
  -moz-border-radius: 0;
  -ms-border-radius: 0;
  -o-border-radius: 0;
  -webkit-border-radius: 0;
  -webkit-transform: translateY(0%);
  -moz-transform: translateY(0%);
  -ms-transform: translateY(0%);
  -o-transform: translateY(0%);
}
.special_heading > h2::before {
  content: "";
  position: absolute;
  top: 50%;
  right: -30%;
  width: 15px;
  height: 15px;
  transform: translateY(-50%);
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  background-color: var(--main-color);
  transition: all var(--main-transition-duration);
  -webkit-transition: all var(--main-transition-duration);
  -moz-transition: all var(--main-transition-duration);
  -ms-transition: all var(--main-transition-duration);
  -o-transition: all var(--main-transition-duration);
  z-index: -1;
}
.special_heading > h2:hover::before {
  color: var(--main-color);
  width: 50%;
  height: 100%;
  top: 0;
  transform: translateY(0%);
  border-radius: 0;
  -moz-border-radius: 0;
  -ms-border-radius: 0;
  -o-border-radius: 0;
  -webkit-border-radius: 0;
  right: 0;
  -webkit-transform: translateY(0%);
  -moz-transform: translateY(0%);
  -ms-transform: translateY(0%);
  -o-transform: translateY(0%);
}
.special_heading > p {
  color: var(--font-color-text-3);
  margin: 30px auto 45px;
  width: 100%;
  line-height: 1.5;
  font-size: 25px;
  font-weight: 400;
}
@media (max-width: 767px) {
  .special_heading > p {
    margin: 20px auto 25px;
    width: 100%;
    line-height: 1.4;
    font-size: 19px;
  }
}
/* start buttons */
/* -- start button in course card */
a.button {
  text-decoration: none;
  color: black;
  margin: 15px auto;
  display: flex;
  justify-content: center;
  align-items: center;
}

.button {
  width: 9em;
  height: 3em;
  border-radius: 30em;
  font-size: 15px;
  font-family: inherit;
  border: none;
  position: relative;
  overflow: hidden;
  z-index: 1;
  box-shadow: 6px 6px 12px #c5c5c5, -6px -6px 12px #ffffff;
}

.button::before {
  content: "";
  width: 0;
  height: 3em;
  border-radius: 30em;
  position: absolute;
  top: 0;
  left: 0;
  background-image: linear-gradient(to right, #0fd850 0%, #f9f047 100%);
  transition: 0.5s ease;
  display: block;
  z-index: -1;
}

.button:hover::before {
  width: 9em;
}
/* --  end button in course card */
/* end buttons */
.container {
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
}
/* small screen */
@media (min-width: 768px) {
  .container {
    width: 750px;
  }
}
/* medium screen */
@media (min-width: 992px) {
  .container {
    width: 970px;
  }
}
/* large screen */
@media (min-width: 1200px) {
  .container {
    width: 1170px;
  }
}
/* end global rules  */
/* start static class */
.show {
  display: none;
}
.hidden {
  display: none;
}
/* end static class */
/* start header */
.header {
  padding: 20px;
  position: sticky;
  top: 0px;
  background-color: white;
  z-index: 5000;
}
.header .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header .container .logo {
  display: block;
  text-decoration: none;
  width: 60px;
}
.header .container .logo img {
  max-width: 100%;
}
.header .container .links {
  position: relative;
}
/* start adjustment the links in header */
@media (min-width: 768px) {
  .header .container .links {
    display: none;
  }
}
@media (max-width: 768px) {
  .header .container .big-links {
    display: none;
  }
}
/*end adjustment the links in header */
.header .container .links:hover .icons span:nth-child(2) {
  width: 100%;
}
.header .container .links .icons {
  width: 30px;
  display: flex;
  justify-content: flex-end;
  flex-flow: row wrap;
}
.header .container .links .icons span {
  height: 3px;
  margin-bottom: 5px;
  background-color: var(--main-background-color);
}
.header .container .links .icons span:first-child {
  width: 100%;
}
.header .container .links .icons span:nth-child(2) {
  width: 60%;
  transition: all var(--main-transition-duration);
  -webkit-transition: all var(--main-transition-duration);
  -moz-transition: all var(--main-transition-duration);
  -ms-transition: all var(--main-transition-duration);
  -o-transition: all var(--main-transition-duration);
}
.header .container .links .icons span:last-child {
  width: 100%;
}
.header .container .links ul {
  list-style: none;
  margin: 0;
  padding: 0;
  position: absolute;
  right: 0;
  top: calc(100% + 15px);
  background-color: var(--main-background-color);
  z-index: 99;
  min-width: 250px;
}
/* start big links above mobile screen */
.header .container .big-links ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header .container .big-links ul li {
  position: relative;
  transition: var(--main-transition) all ease;
  -webkit-transition: var(--main-transition) all ease;
  -moz-transition: var(--main-transition) all ease;
  -ms-transition: var(--main-transition) all ease;
  -o-transition: var(--main-transition) all ease;
}
.header .container .big-links ul li::after {
  content: "";
  position: absolute;
  left: 20px;
  bottom: -5px;
  width: 0;
  height: 0;
  background-color: var(--second-background-color);
}
.header .container .big-links ul li:hover::after {
  width: calc(100% - 40px);
  height: 3px;
}

.header .container .big-links ul li a {
  text-decoration: none;
  color: var(--main-background-color);
  padding: 20px;
  font-size: 20px;
  font-weight: 500;
  text-transform: capitalize;
}
@media (max-width: 991px) {
  .header .container .big-links ul li a {
    padding: 15px;
    font-size: 15px;
  }
  .header .container .big-links ul li::after {
    left: 15px;
    bottom: -5px;
  }
  .header .container .big-links ul li:hover::after {
    width: calc(100% - 30px);
  }
}
/*end  big links above mobile screen */
.header .container .links ul::before {
  content: "";
  border-width: 10px;
  border-style: solid;
  border-color: transparent transparent var(--main-background-color) transparent;
  position: absolute;
  top: -20px;
  right: 5px;
}
.header .container .links ul li {
  padding: 10px;
  margin-bottom: 10px;
  transition: all var(--main-transition-duration);
  -webkit-transition: all var(--main-transition-duration);
  -moz-transition: all var(--main-transition-duration);
  -ms-transition: all var(--main-transition-duration);
  -o-transition: all var(--main-transition-duration);
  text-transform: capitalize;
}
.header .container .links ul li:hover {
  padding-left: 45px;
}
.header .container .links ul li:not(:last-child) {
  border-bottom: 2px solid var(--main-color);
}
.header .container .links ul li a {
  text-decoration: none;
  color: var(--main-color);
}
/* end  header*/
/* start landing */
.landing {
  height: calc(100vh - 100px);
  overflow: hidden;
  position: relative;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
.landing .landing-image {
  width: 650px;
  height: 757px;
  max-height: 100%;
  z-index: 3333;
  flex: 1;
  z-index: -1;
  display: flex;
  justify-content: center;
  align-items: center;
}
.landing img {
  width: 100%;
  max-height: 100%;
  z-index: 0;
  object-fit: cover;
}
.landing .landing-text {
  width: 600px;
  text-align: center;
  padding: 5px;
  z-index: 2;
}
.landing .landing-text h1 {
  color: #111e65;
  margin: 0;
  font-size: 50px;
}
.landing .landing-text h1 strong {
  color: #5552fa;
  font-weight: bold;
}
.landing .landing-text p {
  line-height: 1.8;
  color: var(--font-color-text-2);
}
.landing .landing-text .button-Enroll {
  display: block;
  background-color: hsl(241.07deg 94.38% 65.1%);
  padding: 20px;
  margin: 5px auto;
  text-decoration: none;
  color: white;
  font-size: 40px;
  font-weight: bold;
  border-radius: 10px;
}
.button-Enroll-via-page {
  display: block;
  background-color: hsl(213.68deg 58.76% 19.02%);
  padding: 20px;
  margin: 5px auto;
  text-decoration: none;
  color: white;
  font-size: 40px;
  font-weight: bold;
  border-radius: 10px;
  width: 300px;
  margin-bottom: 30px;
  transition: var(--main-transition-duration);
  -webkit-transition: var(--main-transition-duration);
  -moz-transition: var(--main-transition-duration);
  -ms-transition: var(--main-transition-duration);
  -o-transition: var(--main-transition-duration);
}
.button-Enroll-via-page:hover {
  background-color: var(--second-background-color);
}
/* RESPONSIVE style */
/* Responsive styles */
@media (max-width: 1024px) {
  .landing .landing-text {
    width: 51%;
  }

  .landing .landing-text h1 {
    font-size: 40px; /* Adjust font size for smaller devices */
  }

  .landing .landing-text .button-Enroll {
    font-size: 30px; /* Adjust button font size */
    padding: 15px; /* Adjust button padding */
  }
}
@media (max-width: 991px) {
  /* any style you are need */
}
@media (max-width: 768px) {
  .landing {
    flex-direction: column; /* Stack image and text vertically */
    text-align: center;
  }
  .landing .landing-image {
    height: 45vh;
    margin-bottom: 7px;
  }
  .landing .landing-image,
  .landing .landing-text {
    width: 100%; /* Full width for mobile devices */
    max-height: 100%;
  }

  .landing .landing-text h1 {
    font-size: 26px; /* Smaller font size for h1 */
  }
  .landing .landing-text p {
    line-height: 1.2;
  }

  .landing .landing-text .button-Enroll {
    font-size: 25px; /* Smaller font size for the button */
    width: 50%;
  }
}

@media (max-width: 480px) {
  .landing .landing-text h1 {
    font-size: 24px; /* Even smaller font size for very small devices */
  }

  .landing .landing-text p {
    font-size: 14px; /* Adjust paragraph font size for readability */
  }

  .landing .landing-text .button-Enroll {
    font-size: 20px; /* Adjust button font size */
    padding: 10px 20px; /* Adjust button padding */
  }
}
/* end landing */
/* start courses */
.courses {
  padding-top: var(--main-padding-top);
  padding-bottom: var(--main-padding-bottom);
  /* background-color: var(--main-background-color); */
  background-color: rgba(20, 45, 77, 0.685);
}
.courses .container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  column-gap: 50px;
}
@media (max-width: 767px) {
  .courses .container {
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  }
}
.courses .container .course {
  border: var(--main-border-size) var(--main-border-color)
    var(--main-border-style);
  background-color: var(--main-color);
  border-radius: var(--main-border-radius-card);
  -webkit-border-radius: var(--main-border-radius-card);
  -moz-border-radius: var(--main-border-radius-card);
  -ms-border-radius: var(--main-border-radius-card);
  -o-border-radius: var(--main-border-radius-card);
  overflow: hidden;
  transition: all var(--main-transition-duration);
  -webkit-transition: all var(--main-transition-duration);
  -moz-transition: all var(--main-transition-duration);
  -ms-transition: all var(--main-transition-duration);
  -o-transition: all var(--main-transition-duration);
}
@media (max-width: 991px) {
  .courses .container .course {
    margin-bottom: var(--main-margin-bottom-card-media);
    margin-top: var(--main-margin-bottom-card-media);
  }
}
.courses .container .course:hover {
  transform: translateY(-30px);
  -webkit-transform: translateY(-30px);
  -moz-transform: translateY(-30px);
  -ms-transform: translateY(-30px);
  -o-transform: translateY(-30px);
}
.courses .container .course .image {
  overflow: hidden;
}
.courses .container .course img {
  height: 100%;
  width: 100%;
  filter: blur(2px) brightness(0.4);
  -webkit-filter: blur(2px) brightness(0.4);
  transition: all var(--main-transition-duration);
  -webkit-transition: all var(--main-transition-duration);
  -moz-transition: all var(--main-transition-duration);
  -ms-transition: all var(--main-transition-duration);
  -o-transition: all var(--main-transition-duration);
}
.courses .container .course:hover img {
  filter: blur(0px) brightness(1);
  -webkit-filter: blur(0px) brightness(1);
  transform: scale(1.5, 1.5);
  -webkit-transform: scale(1.5, 1.5);
  -moz-transform: scale(1.5, 1.5);
  -ms-transform: scale(1.5, 1.5);
  -o-transform: scale(1.5, 1.5);
}

.courses .container .course .text_info {
  background-color: var(--main-color);
  text-align: center;
  padding: var(--main-padding-info);
  position: relative;
}
.courses .container .course .text_info h3 {
  margin: 5px auto 10px;
}
.courses .container .course .text_info p {
  margin: 0 auto;
}
/* end courses */
/* start part of lession  */
.video-widget {
  padding-top: var(--main-padding-top);
  padding-bottom: var(--main-padding-bottom);
}
.video-widget .container {
  display: flex;
  justify-content: space-between;
  max-width: 100%;
  overflow: hidden;
}

.video-list {
  border: 1px solid #ddd;
  height: 100%;
  width: 100%;
  flex: 1;
  background-color: #f9f9f9;
  padding: 10px;
}

.video-list h2 {
  margin: 0 0 10px;
  color: var(--main-background-color);
  text-transform: capitalize;
}

.video-list ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.video-list li {
  padding: 8px;
  margin-bottom: 10px;
  border-bottom: 1px solid #ddd;
  cursor: pointer;
  text-transform: capitalize;
  font-weight: bold;
  transition: all var(--main-transition-duration);
  -webkit-transition: all var(--main-transition-duration);
  -moz-transition: all var(--main-transition-duration);
  -ms-transition: all var(--main-transition-duration);
  -o-transition: all var(--main-transition-duration);
}
.video-list li:hover {
  background-color: var(--main-background-color);
  color: var(--second-background-color);
}

.video-list li:hover {
  background-color: #efefef;
}

.video-list span {
  float: right;
  opacity: 0.6;
}

.video-display {
  flex: 2;
  display: flex;
  flex-direction: column;
}
.video-display .video-display-element {
  height: calc(100% - 38.39px);
}
.video-display iframe {
  width: 100%;
  height: 100%;
}

.video-title {
  bottom: 0;
  background: rgba(0, 0, 0, 0.5);
  color: #fff;
  width: 100%;
  flex: 2;
  /* margin-bottom: 10px; */
  padding: 10px;
}

@media (max-width: 768px) {
  .video-widget .container {
    flex-direction: column;
  }
  .video-widget .container .video-display {
    height: 350px;
  }
  .video-widget .container .video-display .video-display-element iframe {
    height: 350px;
  }
}

/* end part of lession  */
/* start about */
.about {
  padding-top: var(--main-padding-top);
  padding-bottom: var(--main-padding-bottom);
}
.about .container {
  display: flex;
  flex-flow: column wrap;
  position: relative;
}
.about .container .about-content-text {
  padding: 20px;
  margin-bottom: calc(var(--main-margin-bottom-card-media) * 2);
  position: relative;
  border: var(--main-border-frame-size) var(--main-border-style)
    var(--second-background-color);
  display: flex;
  justify-content: space-between;
  align-items: center;
}
@media (max-width: 767px) {
  .about .container .about-content-text {
    flex-direction: column;
  }
}
.about .container .about-content-text::before {
  content: "alfath";
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--second-background-color);
  font-size: 30px;
  font-weight: bold;
  top: 20%;
  left: -35px;
  width: 70px;
  height: 70px;
  background-color: var(--main-background-color);
  border-radius: var(--main-border-radius-card);
  -webkit-border-radius: var(--main-border-radius-card);
  -moz-border-radius: var(--main-border-radius-card);
  -ms-border-radius: var(--main-border-radius-card);
  -o-border-radius: var(--main-border-radius-card);
}
@media (max-width: 991px) {
  .about .container .about-content-text::before {
    top: 100%;
    left: 50%;
    transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
  }
}
.about .container .about-content-text .image {
  position: relative;
  width: calc(50% - var(--main-margin-bottom-card-media));
  border-radius: var(--second-background-color);
  -webkit-border-radius: var(--second-background-color);
  -moz-border-radius: var(--second-background-color);
  -ms-border-radius: var(--second-background-color);
  -o-border-radius: var(--second-background-color);
}
@media (max-width: 767px) {
  .about .container .about-content-text .image {
    margin-top: var(--main-padding-top);
  }
}
.about .container .about-content-text .image::after {
  content: "";
  position: absolute;
  width: 201px;
  height: 206px;
  top: -14%;
  left: 10%;
  border: var(--main-border-frame-size) var(--main-border-style)
    var(--second-background-color);
  background-color: transparent;
  z-index: -1;
}
.about .container .about-content-text .image img {
  width: 201px;
  height: 206px;
  max-width: 100%;
  max-height: 100%;
  border: var(--main-border-size) var(--main-border-style)
    var(--main-border-color);
  position: relative;
  left: 20%;
}
.about .container .about-content-text .text {
  flex: 1;
  padding: var(--main-padding-info);
}
.about .container .about-content-text .text h2 {
  margin: 0;
  padding: 0;
  padding-bottom: 10px;
  width: fit-content;
  font-size: 33px;
  color: var(--main-background-color);
  text-align: center;
  margin-bottom: var(--main-margin-bottom-card-media);
  font-weight: 900;
  position: relative;
}
.about .container .about-content-text .text h2::before {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 0;
  height: 0;
  background-color: var(--second-background-color);
  transition: all var(--main-transition-duration);
  -webkit-transition: all var(--main-transition-duration);
  -moz-transition: all var(--main-transition-duration);
  -ms-transition: all var(--main-transition-duration);
  -o-transition: all var(--main-transition-duration);
}
.about .container .about-content-text .text:hover h2::before {
  width: 100%;
  height: var(--main-border-frame-size);
}
.about .container .about-content-text .text .text-info-1 {
  font-size: 20px;
  font-weight: 700;
  color: var(--font-color-text-1);
  line-height: 1.3;
}
.about .container .about-content-text .text .text-info-1 span {
  font-size: 25px;
  font-weight: 600;
  color: #595757;
}
.about .container .about-content-text .text hr {
  margin-top: var(--main-margin-bottom-card-media);
  margin-bottom: var(--main-margin-bottom-card-media);
}
.about .container .about-content-text .text .text-info-2 {
  font-size: 18px;
  font-weight: 600;
  color: var(--font-color-text-1);
  line-height: 1.2;
}
.about .container .about-content-text .text .text-info-2 span {
  font-size: 25px;
  font-weight: 600;
  color: var(--font-color-text-3);
}
@media (max-width: 767px) {
  .about .container .about-content-text .text h2 {
    margin: 0;
    font-size: 25px;
    color: var(--main-background-color);
    font-weight: 800;
  }
  .about .container .about-content-text .text .text-info-1 {
    font-size: 17px;
    font-weight: 500;
    line-height: 1.1;
  }
  .about .container .about-content-text .text .text-info-1 span {
    font-size: 20px;
    font-weight: 400;
    color: #595757;
  }
  .about .container .about-content-text .text .text-info-2 {
    font-size: 16px;
    font-weight: 400;
    color: var(--font-color-text-1);
    line-height: 1.3;
  }
  .about .container .about-content-text .text .text-info-2 span {
    font-size: 20px;
    font-weight: 500;
    color: var(--font-color-text-3);
  }
}

.about .container .about-content-video .special_heading > P {
  margin-bottom: 10px;
  color: var(--main-background-color);
  font-weight: 400;
}

/* .about .container .about-content-video video{
  width: 100%;
  height: 100%;
  margin-top: var(--main-padding-top);
  margin-bottom: var(--main-padding-bottom);
  border-radius: 5%;
  -webkit-border-radius: 5%;
  -moz-border-radius: 5%;
  -ms-border-radius: 5%;
  -o-border-radius: 5%;
} */
.about .container .about-content-video {
  height: 500px;
}
.about .container .about-content-video iframe {
  height: 100%;
  width: 100%;
  border-radius: 5%;
  -webkit-border-radius: 5%;
  -moz-border-radius: 5%;
  -ms-border-radius: 5%;
  -o-border-radius: 5%;
}
/* end about */

/* start testimonials */
.testimonials {
  padding-top: var(--main-padding-top);
  padding-bottom: var(--main-padding-bottom);
  background-color: var(--second-background-color2);
}
.testimonials .testimonials-box-container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  gap: 40px;
}
.testimonials .testimonials-box-container .testimonials-box {
  padding: 20px;
  background-color: white;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
  border-radius: 6px;
}
.testimonials .testimonials-box-container .testimonials-box:hover {
  transform: translateY(-5px);
  /*Liftcardonhover*/
  background-image: linear-gradient(260deg, #eb117c 0%, #69008d 100%);
  color: white;
  -webkit-transform: translateY(-5px);
  -moz-transform: translateY(-5px);
  -ms-transform: translateY(-5px);
  -o-transform: translateY(-5px);
}
.testimonials .testimonials-box-container .testimonials-box > h3 {
  margin: 0 0 10px;
  text-transform: capitalize;
}

.testimonials .testimonials-box-container .testimonials-box > span {
  color: #777;
  margin-bottom: 10px;
  display: block;
  text-transform: uppercase;
}
.testimonials
  .testimonials-box-container
  .testimonials-box:not(.testimonials-box.testimonials-video)
  > span {
  margin-top: -25px;
}
.testimonials .testimonials-box-container .testimonials-box:hover span {
  color: white;
}
.testimonials .testimonials-box-container .testimonials-box .rating {
  color: #ffd700; /* Star rating color */
  text-align: right;
}
.testimonials .testimonials-box-container .testimonials-box > p {
  line-height: 1.5;
  color: #777;
  margin-top: 10px;
  margin-bottom: 0;
}
.testimonials .testimonials-box-container .testimonials-box:hover p {
  color: white;
}
.testimonials .testimonials-box-container .testimonials-box iframe {
  width: 100%;
  max-width: 100%;
  height: 400px;
}
/* end testimonials */
/* start our staff */
.stats-section {
  text-align: center;
  background-color: #f0f0f0; /* Change as needed */
  padding-top: var(--main-padding-top);
  padding-bottom: var(--main-padding-bottom);
}

.stats-container {
  display: flex;
  justify-content: space-around;
  align-items: center;
}
@media (max-width: 767px) {
  .stats-container {
    flex-direction: column;
  }
  .stats-container .stat-item {
    width: 80%;
  }
}
.stat-item {
  background-color: #fff;
  /*Changeasneeded*/
  padding: 10px;
  margin: 10px;
  width: 150px;
  /*Changeasneeded*/
  border-radius: 10px;
  /*Changeasneeded*/
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
  transform: var(--main-transition);
  -webkit-transform: var(--main-transition);
  -moz-transform: var(--main-transition);
  -ms-transform: var(--main-transition);
  -o-transform: var(--main-transition);
}

.stat-item:hover {
  transform: translateY(-5px);
  background-color: var(--main-background-color);
  color: white;
}

.stat-item .icon {
  font-size: 50px;
  color: var(--main-background-color);
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 10px;
  transform: var(--main-transition);
  -webkit-transform: var(--main-transition);
  -moz-transform: var(--main-transition);
  -ms-transform: var(--main-transition);
  -o-transform: var(--main-transition);
}
.stat-item:hover .icon {
  color: var(--second-background-color);
}
.number {
  font-size: 2em; /* Change as needed */
  font-weight: bold;
}

.label {
  font-size: 1em; /* Change as needed */
}

/* end our staff */

/* stat FAQ */

.FAQ-img {
  max-width: 100%;
  height: 70vh;
  display: block;
  margin: 0 auto 20px; /* Center the image and add some space below */
}

.FAQ-section {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: flex-start;
  padding-top: var(--main-padding-top);
  padding-bottom: var(--main-padding-bottom);
}

.FAQ-image {
  flex: 1 1 200px; /* Allows image section to grow and shrink but not smaller than 200px */
  text-align: center; /* Center the image in its div */
}

.faq-widget {
  flex: 3 1 600px; /* Allows FAQ content to grow and shrink but not smaller than 600px */
  max-width: 1000px; /* Maximum width of the FAQ content */
  margin-left: 20px; /* Add some space between image and FAQs */
}

.faq-widget {
  background-color: #fff; /* or any preferred color */
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  padding: 20px;
  margin: 20px auto;
  width: 80%;
}

.faq-title {
  color: #333; /* or any preferred color */
  margin-bottom: 10px;
}

.faq-category {
  font-weight: bold;
  color: #333; /* or any preferred color */
  padding-bottom: 10px;
  border-bottom: 2px solid #333; /* or any preferred color */
  margin-bottom: 10px;
}

.faq-item {
  padding: 10px 0;
}

.faq-question {
  cursor: pointer;
  color: #333; /* or any preferred color */
  margin-bottom: 5px;
  font-weight: bold;
}

.faq-question::after {
  content: "+";
  float: right;
  font-size: 1.5em;
}

.faq-answer {
  display: none;
  color: #666; /* or any preferred color */
  padding-left: 20px;
}

.faq-item.active .faq-answer {
  display: block;
}

.faq-item.active .faq-question::after {
  content: "-";
}
/* Responsive styles */
@media (max-width: 768px) {
  .FAQ-section {
    flex-direction: column;
  }

  .FAQ-image,
  .faq-widget {
    flex: 1 0 100%; /* Take full width on smaller screens */
  }

  .faq-widget {
    margin-left: 0; /* Remove the margin between image and FAQ items on smaller screens */
  }
}

/* end FAQ */
/* start enroll widget */

/* end enroll widget */
.enroll-widget {
  padding-top: var(--main-padding-top);
  padding-bottom: var(--main-padding-bottom);
}
.enroll-widget .container {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
}
@media (max-width: 991px) {
  .enroll-widget .container {
    flex-direction: column;
  }
  .enroll-widget .container .image {
    margin-bottom: 10px;
  }
}
.enroll-widget .container .image {
  overflow: hidden;
  z-index: 3333;
  flex: 1;
  z-index: -1;
  display: flex;
  justify-content: center;
  align-items: center;
}
.enroll-widget .container .image img {
  width: 650px;
  height: 757px;
  max-height: 100%;
}
@media (max-width: 767px) {
  .enroll-widget .container .image img {
    width: 450px;
    height: 500px;
    max-height: 100%;
  }
}
@media (max-width: 500px) {
  .enroll-widget .container .image img {
    width: calc(100% - 10px);
    height: 500px;
    max-height: 100%;
  }
}
.enroll-widget .container .enroll-now {
  text-align: center;
  display: block;
  background-color: hsl(241.07deg 94.38% 65.1%);
  padding: 20px;
  margin: 5px auto;
  text-decoration: none;
  color: white;
  font-size: 40px;
  font-weight: bold;
  border-radius: 10px;
}
/* end enroll  */

/*start social media */
.social-media {
  background-color: var(--second-background-color2);
  padding-top: var(--main-padding-top);
  padding-bottom: var(--main-padding-bottom);
}
.social-media .container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  gap: 20px;
}
.social-media .container .social-plateform {
  text-align: center;
  padding: 20px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
  transition: all var(--main-transition-duration);
  -webkit-transition: all var(--main-transition-duration);
  -moz-transition: all var(--main-transition-duration);
  -ms-transition: all var(--main-transition-duration);
  -o-transition: all var(--main-transition-duration);
  border-radius: 10%;
  -webkit-border-radius: 10%;
  -moz-border-radius: 10%;
  -ms-border-radius: 10%;
  -o-border-radius: 10%;
}
.social-media .container .social-plateform:hover {
  transform: translateY(-5px);
  /*Liftcardonhover*/
  background-image: linear-gradient(260deg, #eb117c 0%, #69008d 100%);
  color: white;
  -webkit-transform: translateY(-5px);
  -moz-transform: translateY(-5px);
  -ms-transform: translateY(-5px);
  -o-transform: translateY(-5px);
  color: white;
}
.social-media .container .social-plateform a {
  display: block;
  text-decoration: none;
  color: var(--main-background-color);
  margin-bottom: 10px;
}
.social-media .container .social-plateform:hover a {
  color: white;
}
.social-media .container .social-plateform a i {
  display: block;
  font-size: 55px;
}

.social-media .container .social-plateform span {
  color: var(--main-background-color);
  display: block;
  font-size: 35px;
}
.social-media .container .social-plateform:hover span {
  color: white;
}
/*end social media */

/* Start Footer */
.footer {
  background-color: var(--main-background-color);
  padding: 70px 0 0;
}
@media (max-width: 767px) {
  .footer {
    text-align: center;
  }
}
.footer .container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(320px, 1fr));
  gap: 40px;
}
.footer .box h3 {
  color: white;
  font-size: 50px;
  margin: 0 0 20px;
}
.footer .box .social {
  display: flex;
}
@media (max-width: 767px) {
  .footer .box .social {
    justify-content: center;
  }
}
.footer .box .social li {
  margin-right: 10px;
}
.footer .box .social li a {
  background-color: #313131;
  color: #b9b9b9;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 50px;
  height: 50px;
  font-size: 20px;
  transition: var(--main-transition);
}
.footer .box .social .facebook:hover {
  background-color: #1877f2;
}
.footer .box .social .twitter:hover {
  background-color: #1da1f2;
}
.footer .box .social .youtube:hover {
  background-color: #ff0000;
}
.footer .box .text {
  line-height: 2;
  color: #b9b9b9;
}
.footer .box .links li {
  padding: 15px 0;
  transition: var(--main-transition);
  -webkit-transition: var(--main-transition);
  -moz-transition: var(--main-transition);
  -ms-transition: var(--main-transition);
  -o-transition: var(--main-transition);
}
.footer .box .links li:not(:last-child) {
  border-bottom: 1px solid #444;
}
.footer .box .links li:hover {
  padding-left: 10px;
}
.footer .box .links li:hover a {
  color: white;
}
.footer .box .links li a {
  color: #b9b9b9;
  transition: all var(--main-transition-duration);
  -webkit-transition: all var(--main-transition-duration);
  -moz-transition: all var(--main-transition-duration);
  -ms-transition: all var(--main-transition-duration);
  -o-transition: all var(--main-transition-duration);
}
.footer .box .links li a::before {
  font-family: "Font Awesome 5 Free";
  content: "\F101";
  font-weight: 900;
  margin-right: 10px;
  color: var(--main-color);
}
.footer .box .line {
  display: flex;
  align-items: center;
  color: #b9b9b9;
  margin-bottom: 30px;
}
@media (max-width: 767px) {
  .footer .box .line {
    flex-direction: column;
  }
}
.footer .box .line i {
  font-size: 25px;
  color: var(--main-color);
  margin-right: 10px;
}
@media (max-width: 767px) {
  .footer .box .line i {
    margin-right: 0;
    margin-bottom: 15px;
  }
}
.footer .box .line .info {
  line-height: 1.7;
  flex: 1;
}
.footer .box .line .info span {
  display: block;
}
.footer .copyright {
  padding: 25px 0;
  text-align: center;
  color: white;
  margin: 50px 0 0;
  border-top: 1px solid #444;
}
/* end footer */

/* start  this for arabic course  page  */

.arabic-content {
  background: white;
  color: var(--main-background-color);
  padding-top: var(--main-padding-top);
  padding-bottom: var(--main-padding-bottom);
}
.arabic-content .container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  gap: 50px;
}
@media (max-width: 767px) {
  .arabic-content .container {
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  }
}
.arabic-content .container .image {
  overflow: hidden;
  width: 100%;
  height: 100%;
}
.arabic-content .container .image img {
  width: 100%;
  height: 100%;
  max-width: 100%;
  max-height: 100%;
}
@media (max-width: 991px) {
  .arabic-content .container .text:nth-child(1) {
    order: 1;
  }
  .arabic-content .container .text:nth-child(2) {
    order: 2;
  }
  .arabic-content .container .text:nth-child(3) {
    order: 3;
  }
  .arabic-content .container .text:nth-child(4) {
    order: 5;
  }
  .arabic-content .container .text:nth-child(5) {
    order: 4;
  }
  .arabic-content .container .text:nth-child(6) {
    order: 6;
  }
  .arabic-content .container .text:nth-child(7) {
    order: 7;
  }
  .arabic-content .container .text:nth-child(8) {
    order: 9;
  }
  .arabic-content .container .text:nth-child(9) {
    order: 8;
  }
}
.arabic-content .container .text h3 {
  font-size: 25px;
}
.arabic-content .container .text p {
  line-height: 1.4;
  font-size: 18px;
}
.arabic-content .container .text h3 {
  transition: all var(--main-transition);
  -webkit-transition: all var(--main-transition);
  -moz-transition: all var(--main-transition);
  -ms-transition: all var(--main-transition);
  -o-transition: all var(--main-transition);
}
.arabic-content .container .text:hover h3 {
  color: var(--second-background-color);
}
/*  end this for arabic page  */
/* start  this for about  page  */

.about-content {
  background: white;
  color: var(--main-background-color);
  padding-top: var(--main-padding-top);
  padding-bottom: var(--main-padding-bottom);
}
.about-content .container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(350px, 1fr));
  gap: 50px;
}
.about-content .container .text {
  line-height: 1.8;
  font-size: 25px;
}
.about-content .container .text h3 {
  transition: all var(--main-transition);
  -webkit-transition: all var(--main-transition);
  -moz-transition: all var(--main-transition);
  -ms-transition: all var(--main-transition);
  -o-transition: all var(--main-transition);
}
.about-content .container .text:hover h3 {
  color: var(--second-background-color);
}

@media (max-width: 991px) {
  .about-content .container {
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  }
}
@media (max-width: 679px) {
  .about-content .container .text p {
    font-size: 20px;
  }
  .about-content .container .text:nth-child(1) {
    order: 1;
  }
  .about-content .container .text:nth-child(2) {
    order: 2;
  }
  .about-content .container .text:nth-child(3) {
    order: 4;
  }
  .about-content .container .text:nth-child(4) {
    order: 3;
  }
  .about-content .container .text:nth-child(5) {
    order: 5;
  }
  .about-content .container .text:nth-child(6) {
    order: 6;
  }
  .about-content .container .text:nth-child(7) {
    order: 8;
  }
  .about-content .container .text:nth-child(8) {
    order: 7;
  }
}
.about-content .container .image {
  overflow: hidden;
  width: 100%;
  height: 100%;
}
.about-content .container .image img {
  width: 100%;
  height: 100%;
  max-width: 100%;
  max-height: 100%;
}
/*  end this for arabic page  */
